{
    "tabWidth": 4,
        "useTabe": false,
            "semi": true,
                "singleQuote": false,
                    "trailingComma": "all",
                        "bracketSpacing": true,
                            "arrowParens": "always",
}